
.root-container {
    padding-top: 3%;
    margin: auto 100px;
    font-size: 1.3em;
    max-width: 800px;
}
.nav-link {
    font-size: 1.3em;
    font-weight: 600;
    padding-right: 20px !important;
}

.active .nav-link {
    color: rgba(0,0,0,.8) !important;
}

.brand {
    color: rgb(227, 114, 99) !important;
    font-weight: 600 !important;
    font-size: 2em;
    padding-right: 30px;
}
.subbrand {
    font-weight: 600 !important;
    padding-left: 5px;
    color: rgba(0,0,0,.5) !important;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    margin-bottom: 2%;
    color: rgba(0,0,0,.7) !important;
}
