
.root-container {
    margin-top: 1em;
    font-size: 1.3em;
    width:100%;
    padding: 0;
}

.navbar {
}

.nav-link {
    font-size: 1.1em;
    font-weight: 450;
    padding-right: 1em !important;
}

.active .nav-link {
    color: rgba(0,0,0,.8) !important;
}

.brand {
    padding: 0.5em;
    margin: 0 auto;
    padding-right: 5%;
}

.brand a {
    text-decoration: none;
    color: rgb(200, 50, 50) !important;
    font-weight: 600 !important;
    font-size: 2em;
}

.subbrand {
    font-weight: 600 !important;
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.7) !important;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
    color:rgba(0, 0, 0, 0.8) !important;
}

h2 {
    padding-top: 2em;
    padding-bottom: 0.5em;
}

h5 {
    padding-top: 0.5em;
    padding-bottom: 0.2em;
}

.section {
    padding-left: 2em;
    padding-right: 2em;
}

